*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffbf7;
}

.title {
    text-align: center;
    color: #025157;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 50px;
}

p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

.btn{
    color: #fff;
    background-color: #025157;
}

.header {
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    font-size: 0;
    font-family: sans-serif;
}

li {
    display: inline;
    margin: 0px 25px;
    color: #025157;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height:100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navbar {
    width: 70%;
    height: 45px;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    /* margin: 0px 10px; */
}

.actions > *{
    margin: 0px 5px;
}

.sign_in{
    color: #67b54b;
}

.start_free{
    color: #ffffff;
    background: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.main{
    margin-top: 285px;
    text-align: center;
}

.img {
    width: 40%;
}


.publish {
    /* container styles if any */
  }
  
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }

  .features {
    display: grid;
    /* grid-template-columns: repeat(2, 300px); 2 columnas de 300 px c/u
    grid-template-columns: repeat(2, 1fr); */
    height: 660px;
    /* grid-template-rows: repeat(2, 330px); */
    grid-template:repeat(2, 1fr) / repeat(2, 1fr);
    background-color: #025157;
    grid-column-gap:2%;
    grid-row-gap: 1em;
}

  .art1 {
    background-color: #ffffff;
    width: 80%;
    height: 90%;
    margin: auto 2% auto auto;
  }

  .art2 {
    background-color: #ffffff;
    width: 80%;
    height: 90%;
    /* text-align: center; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto auto auto 2%;
  }

  .art3{
    background-color: #ffffff;
    width: 80%;
    height: 90%;
    /* text-align: center; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto 2% auto auto;
  }


  .art4{
    background-color: #ffffff;
    width: 80%;
    height: 90%;
    /* text-align: center; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto auto auto 2%;
  }


  /* Icono de tarjetas */
  .ico{
    width: 10%;
    margin: 5% 0 2% 10%;
  }

  .izq .text{
    margin: 20% 0 25% 10%;
  }

  .izq .par{
    margin: 8% 0 8% 5%;
    font-size: 14px;
    color: #343434;
    font-weight: 200;
  }

  .izq .a{
    margin: 30% 0 0 5%;
    font-size: small;
    text-decoration: none;
  }


  .izq{
    width: 70%;
    height: 100%;
    float: left;
  }

  .der{
    width: 30%;
    height: 100%;
    float: right;
  }

  .izq .text{
    margin: 0 0 2% 5%;
  }
  .der img{
    width: 100%;
    height: 100%;
  }

  .
